{% extends "layout.html" %}
{% block body %}
<div class="bot-medium-buffer row ">
	<div class="col-md-6">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    Sensors <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for sensor in sensors %}
					<li class="sensor" role="presentation" id="{{sensor.type}}"><a href="#">{{ sensor.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Sensor ID</th>
					<th>Location</th>
					<th>Max</th>
					<th>Min</th>
					<th>Avg</th>
				</tr>
			</thead>
			<tbody id="tableBody">
            </tbody>
		</table>
	</div>	
</div>
<div class="row ">
	<ul id="rules" class="list-group ">
		<li class="list-group-item rule" id="0" > 
			<div class="row">
				<div class="col-md-5" id="conditions" >
					<div class="row" id="conditions0">
						<div class="col-md-1">
							<button class="btn btn-twitter addCondition" id="0"> + </button>
						</div>
						<div class="col-md-11">
							<input class="form-control"  type="text" >
						</div>
					</div>
				</div>
				<div class="col-md-5" id="consequences">
					<div class="row"  id="consequences0">
						<div class="col-md-1">
							<button class="btn btn-twitter addConsequence" id="0"> + </button>
						</div>
						<div class="col-md-11">
							<input class="form-control"  type="text" >
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<button id="addRule" class="btn btn-twitter"> Add rule </button>
				</div>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	var numRowsConditions=0;
	var numRowsConsequences=0;
	var numRules=0;
	$(".table").hide();
	$(".container").on( "click", "#addRule", function(){
		numRules++;
       	$("#addRule").remove();
        $("#rules").append(
         	'<li class="list-group-item rule" id="'+numRules+'"><div class="row" ><div class="col-md-5"><input class="form-control " name="username" type="text" ></div><div class="col-md-5"><input class="form-control " name="username" type="text" ></div><div class="col-md-2"><button id="addRule" class="btn btn-twitter"> Add rule </button></div></div></li>'
		);
	});
	$(".container").on( "click", ".addCondition", function(){
    	$(".addCondition").replaceWith('<button class="btn btn-twitter removeCondition" id="'+numRowsConditions+'"> - </button>');
    	numRowsConditions++;
    	$("#conditions").append(
     	'<div class="row" id="conditions'+numRowsConditions+'"><div class="col-md-1"><button class="btn btn-twitter addCondition" id="'+numRowsConditions+'"> + </button></div><div class="col-md-11"><input class="form-control"  type="text" ></div></div>'
		);
	});
	$(".container").on( "click", ".addConsequence", function(){
        $(".addConsequence").replaceWith('<button class="btn btn-twitter removeConsequence" id="'+numRowsConsequences+'"> - </button>');
        numRowsConsequences++;
        $("#consequences").append(
             	'<div class="row" id="consequences'+numRowsConsequences+'" ><div class="col-md-1"><button class="btn btn-twitter addConsequence" id="'+numRowsConsequences+'"> + </button></div><div class="col-md-11"><input class="form-control"  type="text" ></div></div>'
		);
	});
	$(".container").on( "click", ".removeCondition", function(){ 
		var id = $(this).attr('id');
        $("#conditions"+id).remove();
	} );
	$(".container").on( "click", ".removeConsequence", function(){
        var id = $(this).attr('id');
        $("#consequences"+id).remove();
	} );
	$(".dropdown-menu li a").click(function(){
	  $(this).parents(".btn-group").find('.btn').text($(this).text());
	  $(this).parents(".btn-group").find('.btn').val($(this).text());
	  var id = $(this).parent().attr('id');
	  $.getJSON($SCRIPT_ROOT + '/get_sensors_by_type',{sensor_type:id}, function(data) {
	  	$("#tableBody").find("tr").remove()
	  	for(var i=0;i<data.length;i++){
	  		var html="<tr><td>"+data[i].sensor_id+"</td><td>"+data[i].location+"</td><td>"+data[i].max+"</td><td>"+data[i].min+"</td><td>"+data[i].avg+"</td></trow>"
	  		$(".table").show();
	  		$('#tableBody').append(html);
	  	}
      });
	});
	/*$(".dropdown-menu li a").click(function(){
	  $(this).parents(".btn-group").find('.btn').text($(this).text());
	  $(this).parents(".btn-group").find('.btn').val($(this).text());
	  var id = $(this).parent().attr('id');
	  $.getJSON($SCRIPT_ROOT + '/get_sensor_data',{sensor_id:id}, function(data) {
	  	var html="<tr><td>"+data.avg+"</td><td>"+data.max+"</td><td>"+data.min+"</td></trow>"
	  	$(".table").show();
	  	$('#tableBody').append(html);

        
      });
	});*/

</script>
{% endblock %}