{% extends "layout.html" %}
{% block body %}
<div ng-app="sonopa" ng-controller="RulesCtrl">
	<div class="bot-medium-buffer row ">
		<div class="col-md-6">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    [[sensor_type]] <span class="caret"></span>
				</button>
				<ul class="dropdown-menu types" role="menu" >
					<li class="sensor" role="presentation" ng-repeat="type in sensor_types" id="[[type]]" ng-click="showSensorData($index)"><a href="#"> [[type]]</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bodycontainer">
				<table class="table table-striped table-scrollable" ng-if="sensor_type=='TMP36' || sensor_type=='SHT21'">
					<tr>
						<th>Sensor ID</th>
						<th>Location</th>
						<th>Max</th>
						<th>Min</th>
						<th>Avg</th>
					</tr>
					<div >
						<tr ng-repeat="data in sensors_data ">
							<td>[[data.sensor_id]]</td><td>[[data.location]]</td><td>[[data.max]]</td><td>[[data.min]]</td><td>[[data.avg]]</td>
						</tr>
					</div>
				</table>
				<table class="table table-striped table-scrollable" ng-if="sensor_type === 'PIR sensor'">
					<tr>
						<th>Sensor ID</th>
						<th>Location</th>
						<th>Activations</th>
					</tr>
					<div >
						<tr ng-repeat="data in sensors_data">
							<td>[[data.sensor_id]]</td><td>[[data.location]]</td><td>[[data.activations]]</td>
						</tr>
					</div>
				</table>
			</div>
		</div>	
	</div>
	<div class="row ">
		<ul id="rules" class="list-group ">
				<li class="list-group-item rule" ng-repeat="rule in rules"  id="[[$index]]" > 
					<div class="row">
						<div class="col-md-5" id="conditions" ng-init="rulesIndex = $index">
							<div class="row condition_counter" ng-repeat="condition in rule[0]">
									<div class="col-md-1">
										<button class="btn btn-twitter" ng-click="removeCondition([[rulesIndex]],$index)"> - </button>
									</div>
									<div class="col-md-3" ng-init="conditionIndex = $index">
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.condition_type]]">
						    					[[condition.condition_type]] <span class="caret"></span>
											</button>
											<ul class="dropdown-menu rules_types" role="menu">
												<li role="presentation" ng-repeat="type in condition_types" ng-click="setConditionType(rulesIndex,conditionIndex,$index)"><a href="#">[[type]]</a></li>
											</ul>
										</div>
									</div>
									<div ng-if="condition.condition_type=='PIR rule'">
										<div class="col-md-3">
											<div class="row">
												<div class="col-md-6">
													<div class="btn-group">
														<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.sensor_id]]">
									    					[[condition.sensor_id]] <span class="caret"></span>
														</button>
														<ul class="dropdown-menu sensors" role="menu">
															<li class="sensor" role="presentation" ng-repeat="sensor in sensors" ng-click="setSensor(rulesIndex,conditionIndex,$index)" id="[[sensor.id]]"><a href="#">[[ sensor.id ]]</a></li>
														</ul>
													</div>
												</div>
												<div class="col-md-6">
													Active
													<input type="checkbox" ng-click="setActivated(rulesIndex,conditionIndex,$event)">
												</div>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="input-group input-group-sm">
												<div class="row">
												<input type="number" placeholder="%"class="form-control"min="0" max="100"step="1" ng-model="rules[rulesIndex][conditionIndex][0].percentage" />
												</div>
											</div>	
										</div>
										<div class="col-md-3">
											<div class="row">
												<div class="col-md-12">
													<div class="input-group">
														<div class="row">
															<input type="number" placeholder="Check interval"class="form-control"min="0" step="1" ng-model="rules[rulesIndex][conditionIndex][0].check_interval" />
														</div>
														<div class="row">
															<input type="number" placeholder="Data interval"class="form-control"min="0" step="1" ng-model="rules[rulesIndex][conditionIndex][0].data_interval" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="condition.condition_type=='Time interval'">
										<div class="col-md-3"  >
											<div class="row">

											</div>
										</div>
										<div class="col-md-5 margin-condition">
											<div class="row" >
												<div class="col-md-5">
													<div class="btn-group">
														<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.start_time]]"><span class="caret"></span>[[condition.start_time]]
														</button>
														<ul class="dropdown-menu interval start" role="menu">
															<li role="presentation" ng-repeat="time in time_range" ng-click="setIntervalStart(rulesIndex,conditionIndex,$index)"><a href="#">[[time]]</a></li>
														</ul>
													</div>
												</div>
												<div class="col-md-5">
													<div class="btn-group">
														<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.end_time]]"><span class="caret"></span>[[condition.end_time]]
														</button>
														<ul class="dropdown-menu interval start" role="menu">
															<li role="presentation" ng-repeat="time in time_range" ng-click="setIntervalEnd(rulesIndex,conditionIndex,$index)"><a href="#">[[time]]</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--<div class="col-md-1">
										<div class="row">
											<div  >
												<input type="number" class="form-control" min="0" max="100"step="1" ng-model="rules[rulesIndex][conditionIndex].percentage" />
											</div>
										</div>
									</div>-->
							</div>
							<div class="row">
								<div class="col-md-12">
								<button class="btn btn-twitter addCondition" ng-click="addCondition([[rulesIndex]])"> + </button>
								</div>
							</div>
						</div>
						<div class="col-md-5" id="consequences">
							<div class="row consequence"  ng-repeat="consequence in rule[1]">
								<div class="col-md-1">
									<button class="btn btn-twitter addConsequence" ng-click="removeConsequence([[rulesIndex]],$index)"> - </button>
								</div>
								<div class="col-md-11">
									<div class="row">
										<div class="col-md-4" ng-init="consequenceIndex = $index">
											<div class="btn-group">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[consequence.consequence_type]]">
					    							[[consequence.consequence_type]] <span class="caret"></span>
												</button>
												<ul class="dropdown-menu consequences_types" role="menu">
													<li role="presentation" ng-repeat="type in consequence_types" ng-click="setConsequenceType(rulesIndex,consequenceIndex,$index)"><a href="#">[[type]]</a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-8 consequence_conditional">
											<input ng-if="consequence.consequence_type=='Message'"class="form-control" value="[[consequence.message]]" type="text" >
											<div class="btn-group" ng-if="consequence.consequence_type=='State'"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[consequence.state]]">[[consequence.state]]<span class="caret"></span></button><ul class="dropdown-menu states" role="menu"><li class="sensor" role="presentation" ng-repeat="activity in activity_types"  ng-click="setState(rulesIndex,consequenceIndex,$index)"  ><a href="#">[[ activity ]]</a></li></ul></div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
								<button class="btn btn-twitter consequence" ng-click="addConsequence([[rulesIndex]])"> + </button>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="row">
								<div >
									<button id="addRule" ng-if="$last" class="btn btn-success" ng-click="addRule()"> Add rule </button>
									<button id="addRule"  class="btn btn-danger" ng-click="removeRule($index)"> Remove rule </button>
								</div>
								<div >
									<h3 ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-attr-title="[[title]]" ng-mouseover="calculateTitle($index)"></span></h3>
								</div>
							</div>
						</div>
					</div>
				</li>
		</ul>
	</div>
	<div class="row" ng-if="!error">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert">The rules are not properly formed.</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" id="send" ng-click="sendData()" class="btn btn-primary">
				Send
			</button>		
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}