{% extends "layout.html" %}
{% block body %}
<div ng-app="sonopa" ng-controller="RulesCtrl">
	<div class="bot-medium-buffer row ">
		<div class="col-md-6">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    [[sensor_type]] <span class="caret"></span>
				</button>
				<ul class="dropdown-menu types" role="menu" >
					<li class="sensor" role="presentation" ng-repeat="type in sensor_types" id="[[type]]" ng-click="showSensorData($index)"><a href="#"> [[type]]</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<table ng-if="sensors_data.length"class="table table-striped">
				<thead>
					<tr>
						<th>Sensor ID</th>
						<th>Location</th>
						<th>Max</th>
						<th>Min</th>
						<th>Avg</th>
					</tr>
				</thead>
				<tbody id="tableBody">
					<tr ng-repeat="data in sensors_data"><td>[[data.sensor_id]]</td><td>[[data.location]]</td><td>[[data.max]]</td><td>[[data.min]]</td><td>[[data.avg]]</td></tr>
	            </tbody>
			</table>
		</div>	
	</div>
	<div class="row ">
		<ul id="rules" class="list-group ">
				<li class="list-group-item rule" ng-repeat="rule in rules"  id="[[$index]]" > 
					<div class="row">
						<div class="col-md-5" id="conditions" ng-init="rulesIndex = $index">
							<div class="row condition_counter" ng-repeat="condition in rule[0]">
									<div class="col-md-1">
										<button ng-if="$last"class="btn btn-twitter addCondition" ng-click="addCondition([[rulesIndex]])"> + </button>
										<button ng-if="!$last"class="btn btn-twitter" ng-click="removeCondition([[rulesIndex]])"> - </button>
									</div>
									<div class="col-md-3">
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.sensor_id]]">
						    					[[condition.sensor_id]] <span class="caret"></span>
											</button>
											<ul class="dropdown-menu sensors" role="menu">
												<li class="sensor" role="presentation" ng-repeat="sensor in sensors"id="[[sensor.id]]"><a href="#">[[ sensor.id ]]</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-3">
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[condition.condition_type]]">
						    					[[condition.condition_type]] <span class="caret"></span>
											</button>
											<ul class="dropdown-menu rules_types" role="menu">
												<li role="presentation" ng-repeat="type in condition_types"><a href="#">[[type]]</a></li>
											</ul>
										</div>
									</div>
							</div>
						</div>
						<div class="col-md-5" id="consequences">
							<div class="row consequence"  ng-repeat="consequence in rule[1]">
								<div class="col-md-1">
									<button class="btn btn-twitter addConsequence" ng-if="$last" ng-click="addConsequence([[rulesIndex]])"> + </button>
									<button class="btn btn-twitter addConsequence" ng-if="!$last" ng-click="removeConsequence([[rulesIndex]])"> - </button>
								</div>
								<div class="col-md-11">
									<div class="row">
										<div class="col-md-4">
											<div class="btn-group">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[consequence.consequence_type]]">
					    							[[consequence.consequence_type]] <span class="caret"></span>
												</button>
												<ul class="dropdown-menu consequences_types" role="menu">
													<li role="presentation" ng-repeat="type in consequence_types"><a href="#">[[type]]</a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-8 consequence_conditional">
											<input ng-if="consequence.consequence_type=='Message'"class="form-control" value="[[consequence.message]]" type="text" >
											<div class="btn-group" ng-if="consequence.consequence_type=='State'"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="[[consequence.state]]">[[consequence.state]]<span class="caret"></span></button><ul class="dropdown-menu states" role="menu"><li class="sensor" role="presentation" ng-repeat="activity in activity_types"><a href="#">[[ activity ]]</a></li></ul></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<button id="addRule" ng-if="$last" class="btn btn-twitter" ng-click="addRule()"> Add rule </button>
							<button id="addRule" ng-if="!$last" class="btn btn-twitter" ng-click="removeRule($index)"> Remove rule </button>
						</div>
					</div>
				</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" id="send" ng-click="sendData()" class="btn btn-primary">
				Send
			</button>		
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}