.custom-navbar {
    background-color: #428BCA;
}

.top-medium-buffer { margin-top:35px; }
.bot-medium-buffer { margin-bottom:35px; }
.condition_counter,.consequence { margin-top:5px;  }

.bodycontainer { max-height: 200px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }